@import "tailwindcss";
@plugin "daisyui";

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
